body{
  background-color: blueviolet;
  color: white;
  text-align: center;
  size: 10%;
}
#heading{
    size: 20%;
}

.Logindiv{
  margin: auto;
  width: 50%;
  border: 3px solid grey;
  background-color: black;
  opacity: .9;
  padding: 10px;
}