body{
  background-color: blueviolet;
  background-image: url("bg.jpg");
  color: white;
  text-align: center;
  size: 20%;
}
#heading{
    size: 40%;
}

.Logindiv{
  margin: auto;
  width: 50%;
  border: 3px solid grey;
  background-color: black;
  opacity: .5;
  padding: 10px;
}